{% extends "layout.html" %}
{% block body %}
<h1 class="text-center">Edit</h1>
<form action="/catalogs/{{ catalog.name }}/edit" method="post" autocomplete='off'>
	<input name=_csrf_token type=hidden value="{{ csrf_token() }}">
	<div class="form-group">
		<label for="input-name">Catalog Name</label>
		<input type="text" class="form-control" id="input-name" name="name" placeholder="NAME etc. Zhe Food" value="{{ catalog. name }}">
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}