{% extends "layout.html" %}
{% block body %}
<h1 class="text-center">Edit</h1>
<form action="/items/{{ item.id }}/edit" method="post" autocomplete='off' enctype='multipart/form-data'>
	<input name=_csrf_token type=hidden value="{{ csrf_token() }}">
	<div class="form-group">
		<label for="input-name">Item Name</label>
		<input type="text" class="form-control" id="input-name" name="name" placeholder="NAME etc. Spicy Toufu" value="{{ item.name }}">
	</div>
	<div class="form-group">
		<label for="input-description">Item Description</label>
		<textarea class="form-control" rows="3" id='input-description' name="description" placeholder="Made by toufu and taste gooood">{{ item.description }}</textarea>
	</div>
	<div class="form-group">
		<label for="image">Item Image</label>
		<input type="file" id="image" name='image'>
		<p class="help-block">The image of this item.</p>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}