* {
	font-family: "consolas", sans-serif;
}

.row-gap-huge {
	margin-top: 60px;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

.navbar-brand {
	color: white;
}

.navbar-colored {
	color: white;
	background-color: darkslateblue;
}

#signinButton {
	margin-top: 10px;
}

#display-email {
	float: right;
	line-height: 50px;
}

#logoutButton {
	cursor: pointer;
	float: right;
	margin: 10px 20px 0 20px;
	width: 98px;
	height: 34px;
	border-radius: 5px;
	border: 1px solid black;
	background-color: white;
	color: black;
	text-align: center;
	line-height: 34px;
}

#modal-trigger {
	display: none;
}

.clickable-row {
	cursor: pointer;
}

#avatar {
	height: 40px;
	margin: 5px 20px;
}

.item-image{
	margin: 20px auto;
}